.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  height: 50px;
  background: blue;
}

.container a {
  text-decoration: none;
  color: snow;
}

.container a[class='active'] {
  color: red;
}
